@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 m-0;
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500;
}
